.Boton{
    background-color: darkseagreen;
    width: 250px;
    color:white;
    font-weight: bold;
    border: black;
}
.bot{
    background-color: darkseagreen;
    color:white;
    font-weight: bold;
}