<div class="container">
    <h5 class="text-center font-italic">Los Signos del Zodiaco</h5>
    <div class="row">
      <div class="col-md-4 col-sm-6 my-2" *ngFor="let item of signos">
        <div>
            <img src="/assets/imagen/{{item.name}}.png" width="50px" alt="">
            <a href="#" class="btn font-italic Boton" name="signo" (click)="cargarHoroscopo(item.name)">{{item.name}}</a>
        </div>
        
    </div>
      
    </div>

    <hr>
    <div class="row" *ngIf="signoTitulo != null">
      <div class="col-sm-12">

        <div class="container">
            <a href="" class="btn btn-block bot">{{signoTitulo}} {{fechaMes}}</a>
            <div class="row"> 
              <div class="col col-9 text-justify" >
                 <h1>{{signoTitulo}}</h1> 
                <div [innerHTML]="horoscopo.description"></div>
              </div>
              <div class="col col-3">
                <img src="/assets/imagen/{{signoTitulo}}.png" width="80px" alt="">
              </div>
            </div>

          </div>
        
      </div>
    </div>
  </div>
